<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JMSImageCliped.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A313BF51F2888170083C26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A313C091F2888170083C26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A313C141F2888170083C26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
